.companies-container {
  width: 100vw;
  margin-left: -90px;
  background: rgba(0, 0, 0, 0.25);
}

.companies {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.companies li {
  list-style: none;
  margin: 10px;
}

.companies li img {
  height: 30px;
}

@media screen and (max-width: 550px) {
  .companies-container {
    margin-left: -25px;
  }
}