.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home {
    width: 800px;
    height: 375px;
    position: absolute;
    z-index: 1;
}

svg {
    width: 100%;
    height: inherit
}

#alpha {
    fill: rgba(255, 255, 255, 0.8);
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s
}

text {
    text-anchor: middle
}

#name {
    font-size: 6.5em;
    font-weight: 200
}

#position {
    letter-spacing: 10px;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: serif;
}

#base {
    fill: #000;
    mask: url(#mask)
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.hero {
    background: url('/images/patriarchHike.jpg') no-repeat top center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100%
}

@media screen and (max-width: 800px) {
    .home {
        width: 94%;
        height: 330px;
        top: 50%;
        margin-top: -190px;
        left: 50%;
        margin-left: -47%
    }
    #name {
        font-size: 13vw;
    }
}

@media screen and (max-width: 550px) {
    #position {
        font-size: 6.5vw;
    }
}