.about-me img {
    height: 335px;
    float: left;
    margin: 10px 20px 0 5px;
    box-shadow: 0px 5px 11px 3px #b5b4b4;
}

.about-me a,
.about-me a:visited {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    border-image-slice: 1;
}

@media screen and (max-width: 750px) {
    .about-me img {
        height: 45vw;
    }
}

@media screen and (max-width: 450px) {
    .about-me img {
        height: 200px;
        display: block;
        margin: 0 auto;
        float: initial;
    }
}